---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import BlogView from "../components/BlogView";

const blogs = await Astro.glob("../pages/blogs/*.mdx");

// Sort blogs by ranks
blogs.sort((a, b) => (a.frontmatter.rank < b.frontmatter.rank ? 1 : -1));

const preFilteredBlogs = blogs.filter((blog) => {
  if (!blog.frontmatter.ignore) {
    return blog;
  }
});

// Demo mode check
const DEMO = import.meta.env.DEMO === "true";
---

<head>
  <MainHead title="Learning logs" />
</head>
<body class="bg-zinc-200 dark:bg-zinc-900 text-black dark:text-white font-mono">
  <Nav />
  <BlogView client:load blogs={DEMO ? blogs : preFilteredBlogs} />
  <Footer />
</body>
