---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const blogs = await Astro.glob("../pages/blogs/*.mdx");
---

<head>
	<MainHead title="Learning logs" />
</head>
<body class="background">
	<Nav />
	<div class="content-wrapper">
		<h2 class="page-title">What I'm learning about</h2>
		<div class="blogs">
			{
				blogs.map((blog) => (
					<div class="blog-links">
						<a href={blog.url}>{blog.frontmatter.title}</a>
					</div>
				))
			}
		</div>
	</div>
	<Footer />
</body>

<style>
	.content-wrapper {
		margin-top: 2em;
		margin-bottom: 2em;
		color: var(--t-subdue);
		padding: 40px;
		text-align: center;
	}
	.background {
		background-color: #222742;
	}
	.blogs {
		padding-top: 20px;
	}
</style>
