---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import HolopinDisplay from "../components/holopinDisplay.astro";
import Intro from "../components/Intro.astro";
---

<html lang="en">
  <head>
    <MainHead title="Haffi Mazhar - Software Developer" />
  </head>
  <body
    class="bg-zinc-200 dark:bg-zinc-900 text-black dark:text-white font-mono"
  >
    <Nav />
    <header>
      <div class="flex flex-col pt-5 space-y-2 w-1/2 m-auto items-center">
        <img
          src="/media/avatar.png"
          alt="avatar.png"
          class="w-40 h-35 rounded-full"
        />
        <h1 class="text-xl md:text-3xl">Haffi Mazhar :)</h1>
        <div>haffimazhar96@gmail.com</div>
        <div>07445980261</div>
        <Intro />
      </div>

      <main class="my-2">
        <HolopinDisplay />
      </main>
      <Footer />
    </header>
  </body>
</html>
