---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ProjectDisplay from "../components/ProjectDisplay.astro";
import HolopinDisplay from "../components/holopinDisplay.astro";

const projects = await Astro.glob("../pages/projects/*.mdx");
---

<html lang="en">
	<head>
		<MainHead title="Haffi Mazhar - Software Developer" />
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}

			.name {
				flex-direction: column;
				justify-content: center;
				padding-left: 2rem;
			}

			@media (min-width: 750px) {
				.overlay {
					padding-left: 4rem;
				}
			}

			.title {
				font-weight: 700;
				font-size: var(--f-u5);
				margin-bottom: 0.5rem;
				margin-top: 0;
				color: pink;
			}

			@media (min-width: 750px) {
				.title {
					font-size: var(--f-u12);
				}
			}

			.grid {
				justify-content: center;
				display: grid;
				grid-gap: 2rem;
			}

			@media (min-width: 1200px) {
				.grid {
					grid-template-columns: 2fr 1fr;
				}
			}

			.role {
				font-weight: 900;
				color: pink;
			}

			@media (min-width: 750px) {
				.role {
					font-size: var(--f-u3);
				}
			}

			.section {
				line-height: 2;
				font-weight: 700;
				color: pink;
				margin: auto;
				display: flex;
				justify-content: center;
			}

			.buttonContainer {
				text-align: center;
				margin-top: 2em;
			}

			.container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.footer {
				position: absolute;
				bottom: 10px;
				width: 50%;
			}

			.holopin {
				display: flex;
				flex-direction: column;
				text-align: center;
				color: pink;
			}

			.projects {
				display: flex;
				flex-direction: column;
				text-align: center;
				color: pink;
			}

			.project-items {
				padding-bottom: 5%;
			}

			.awards-section-title {
				padding-bottom: 10px;
			}
		</style>
	</head>
	<body class="background">
		<Nav />
		<header>
			<div class="container">
				<script
					src="https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"
				></script>

				<lottie-player
					autoplay={true}
					loop={true}
					mode="normal"
					speed="1"
					src="https://assets2.lottiefiles.com/private_files/lf30_2oxijfub.json"
					style="width: 320px"
				>
				</lottie-player>

				<div class="name">
					<h1 class="title">Haffi Mazhar</h1>
				</div>
			</div>
		</header>
		<main class="wrapper">
			<div class="section">
				<p class="bio">
					I’m Haffi, a software developer with professional experience
					in backend along with a personal interest in frontend.
				</p>
			</div>

			<div class="holopin">
				<h class="awards-section-title">Awards</h>
				<HolopinDisplay />
			</div>

			<div class="projects">
				<h2>Projects</h2>
				{
					projects.map((project) => (
						<div class="project-items">
							<ProjectDisplay project={project} />
						</div>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
