<div class="text-lg m-auto py-10">
  <p>
    Hey, I'm Haffi. I'm a software developer with professional experience in
    backend and a personal interest in frontend.

    <br />

    I'm passionate about all things software. Love being able to solve complex
    problems while getting a deep understanding of the tools that I work with.
  </p>
</div>
