<div class="text-lg m-auto py-10">
    <p>
        Hey, I'm Haffi. I'm a software developer with professional experience in
        backend and a personal interest in frontend.

        <br />

        I'm passionate about learning new ways to solve complex software
        problems while making sure that I have a deep understanding of the tools
        that I work with.
    </p>
</div>
