---
import Nav from "../components/Nav.astro";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
---

<head>
    <MainHead title="Blogs" />
    <title>{frontmatter.title}</title>
</head>
<body class="bg-zinc-200 dark:bg-zinc-900 text-black dark:text-white">
    <Nav />
    <div class="px-20">
        <p class="text-center font-bold">{frontmatter.title}</p>
        <slot />
    </div>
    <Footer />
</body>
