---
const { frontmatter } = Astro.props;

const date = new Date();
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <!-- Add other UI components here, like common headers and footers. -->
    <h1>{frontmatter.title}</h1>
    <p>Last updated: {date.toLocaleDateString()()}</p>
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
  </body>
</html>